<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Website" value="http://automationpractice.com/index.php"/>
    <add key="Username" value="test101"/>
    <add key="Password" value="123@qwe"/>
  </appSettings>
</configuration>
